@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");

/*Variables*/
$h1Size: 60px;

/*SCSS*/
@mixin flexCenter {
  display: flex;
  justify-content: start;
  color: rgb(10, 8, 143);
  font-size: $h1Size;
  height: 7vh;
}

/*Main Content*/
body {
  display: grid;
  grid-template-columns: min-content 1fr;
}

header {
  grid-column: 1/4;
  margin-top: 20px;
  padding: 0 10px 5px 10px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  grid-column: 1/4;
  border: none;
  height: 20px;
  width: 90%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid rgb(48, 4, 170);
  box-shadow: 0 20px 20px -20px rgb(31, 3, 107);
  margin: -50px auto 40px;
}

h1 {
  @include flexCenter();
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin-top: auto;
  text-align: center;
}

.navbar {
  border: 1px solid rgb(0, 0, 0);
  border-radius: .25em;
  box-shadow: 0 20px 30px -10px rgb(92, 88, 88);
  background-color: rgb(127, 94, 216);
  width: auto;
  height: 29vh;
  margin: 0 20px 0 5px;
}

nav li {
  text-align: center;
  border-bottom: 1px solid rgb(92, 88, 88);
}

nav li:last-child {
  border-bottom: none;
}
.navbar a {
  display: flex;
  justify-content: space-between;
  padding: 1.5vh;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(187, 181, 247);
  width: auto;
}

nav ul li a.current {
  background-color: white;
}
@media (min-height: 300px) {
  .navbar {
    position: sticky;
    top: 25px;
  }
}

.homeIcon {
  height: 2vw;
}

.iIcon {
  height: 2vw;
}

.gIcon {
  height: 2vw;
}

.cIcon {
  height: 1.5vw;
}
.content {
  font-size: 24px;
  font-family: "Sansita Swashed", cursive;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 5px;
  background-color: rgb(187, 181, 247);
  margin: 60px 50px 0 0;
  box-shadow: 10px -10px 10px -10px rgb(138, 137, 137);
}

.gallery img {
  height: 55vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: -10px 10px 10px -10px black;
}

.gallery_item1 {
  grid-column: 1/1;
}

.gallery_item2 {
  grid-column: 2/2;
}

.gallery_item3 {
  grid-column: 3/3;
}

.gallery_item4 {
  grid-column: 1/1;
  grid-row: 3/3;
}

.gallery_item5 {
  grid-column: 2/2;
  grid-row: 3/3;
}

.gallery_item6 {
  grid-column: 3/3;
  grid-row: 3/3;
}

.gallery_item7 {
  grid-column: 1/1;
  grid-row: 4/4;
}

.gallery_item8 {
  grid-column: 2/2;
  grid-row: 4/4;
}
.gallery_item9 {
  grid-column: 3/3;
  grid-row: 4/4;
}

form {
  margin-left: 60vh;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background: rgb(127, 94, 216);
  border-color: black;
  box-shadow: 0px 10px 20px -10px black;
  color: black;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: rgb(187, 181, 247);
  cursor: pointer;
}

.contact {
  margin-top: 10vh;
  margin-left: 73vh;
}

footer {
  display: flex;
  grid-row: 4/4;
  grid-column: 1/4;
  margin: 2vh 2vh 0 1vh;
  border-top: 3px solid black;
  background-color: rgb(187, 181, 247);
}

footer p {
  font-size: 16px;
  padding-left: 15px;
}

footer a {
  color: #333;
}

.social-icons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
}

.fa:hover {
  opacity: 0.7;
  color: #3B5998;
}
