@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

/*Variables*/
$h1Size: 48px;

/*SCSS*/
@mixin flexCenter {
  display: flex;
  justify-content: start;
  color: rgb(10, 8, 143);
  font-size: $h1Size;
  height: 7vh;
  padding-left: 6vh;
}

/*Main Content*/
body {
  display: grid;
  grid-template-columns: min-content 1fr;
}

header {
  grid-column: 1/4;
  margin-top: 20px;
  padding: 0 10px 5px 10px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  grid-column: 1/4;
  border: none;
  height: 20px;
  width: 90%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid rgb(48, 4, 170);
  box-shadow: 0 20px 20px -20px rgb(31, 3, 107);
  margin: -50px auto 40px;
}

h1 {
  @include flexCenter();
}

nav ul {
  list-style: none;
  border: 1px solid rgb(0, 0, 0);
  padding: 0;
  margin-top: auto;
  text-align: center;
}

nav {
  background-color: rgb(127, 94, 216);
  width: 75%;
  height: 31.5vh;
  margin-left: 20px;
}

nav li {
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid rgb(0, 0, 0);
  
}

nav li:last-child {
  border-bottom: none;
}
.navbar a {
  float: left;
  display: flex;
  justify-content: space-between;
  padding: 1.5vh;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(187, 181, 247);
  width: 60%;
}

nav ul li a.current {
  background-color: white;
}
@media (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 0;
  }
}

.homeIcon {
  height: 4vh;
}

.iIcon {
  height: 5vh;
}

.gIcon {
  height: 4vh;
}

.cIcon {
  height: 3vh;
}
.content {
  padding: 0 52px;
  font-size: 24px;
  font-family: 'Cousine', monospace;
}

form {
  margin-left: 60vh;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background: rgb(127, 94, 216);
  border-color: black;
  box-shadow: 0px 10px 20px -10px black;
  color: black;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: rgb(187, 181, 247);
  cursor: pointer;
}

.contact {
  margin-left: 73vh;
}

footer {
  grid-row: 4/4;
  grid-column: 1/4;
  margin: 2vh 2vh 0 1vh;
  border-top: 1px solid black;
}