@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

/*Variables*/
/*SCSS*/
/*Main Content*/
body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
}

header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  margin-top: 20px;
  padding: 0 10px 5px 10px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  border: none;
  height: 20px;
  width: 90%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #3004aa;
  -webkit-box-shadow: 0 20px 20px -20px #1f036b;
          box-shadow: 0 20px 20px -20px #1f036b;
  margin: -50px auto 40px;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #0a088f;
  font-size: 60px;
  height: 7vh;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin-top: auto;
  text-align: center;
}

.navbar {
  border: 1px solid black;
  border-radius: .25em;
  -webkit-box-shadow: 0 20px 30px -10px #5c5858;
          box-shadow: 0 20px 30px -10px #5c5858;
  background-color: #7f5ed8;
  width: auto;
  height: 27vh;
  margin: 0 20px 0 5px;
}

nav li {
  text-align: center;
  border-bottom: 1px solid #5c5858;
}

nav li:last-child {
  border-bottom: none;
}

.navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5vh;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #bbb5f7;
  width: auto;
}

nav ul li a.current {
  background-color: white;
}

@media (min-height: 300px) {
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
  }
}

.homeIcon {
  height: 2vw;
}

.iIcon {
  height: 2vw;
}

.gIcon {
  height: 2vw;
}

.cIcon {
  height: 1.5vw;
}

.content {
  font-size: 24px;
  font-family: "Sansita Swashed", cursive;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  grid-gap: 5px;
  background-color: #bbb5f7;
  margin: 60px 40px 0 0;
  -webkit-box-shadow: 10px -10px 10px -10px #8a8989;
          box-shadow: 10px -10px 10px -10px #8a8989;
}

.gallery img {
  height: 40vh;
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 30px 0 30px 4.5vw;
  border-radius: 10%;
  -webkit-box-shadow: -10px 10px 10px -10px black;
          box-shadow: -10px 10px 10px -10px black;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.gallery img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
}

.gallery_item1 {
  -ms-grid-column: 1;
  grid-column: 1/1;
}

.gallery_item2 {
  -ms-grid-column: 2;
  grid-column: 2/2;
}

.gallery_item3 {
  -ms-grid-column: 3;
  grid-column: 3/3;
}

.gallery_item4 {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 3;
  grid-row: 3/3;
}

.gallery_item5 {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 3;
  grid-row: 3/3;
}

.gallery_item6 {
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 3;
  grid-row: 3/3;
}

.gallery_item7 {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 4;
  grid-row: 4/4;
}

.gallery_item8 {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 4;
  grid-row: 4/4;
}

.gallery_item9 {
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 4;
  grid-row: 4/4;
}

form {
  margin-left: 33vw;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background: #7f5ed8;
  border-color: black;
  -webkit-box-shadow: 0px 10px 20px -10px black;
          box-shadow: 0px 10px 20px -10px black;
  color: black;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #bbb5f7;
  cursor: pointer;
}

.contact {
  margin-top: 10vh;
  margin-left: 40vw;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 4;
  grid-row: 4/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  margin: 2vh 2vh 0 1vh;
  border-top: 3px solid black;
  background-color: #bbb5f7;
}

footer p {
  font-size: 16px;
  padding-left: 15px;
  padding-top: 10px;
  font-weight: bold;
}

footer a {
  color: #333;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fa:hover {
  opacity: 0.7;
  color: #3B5998;
}

@media screen and (max-width: 1200px) {
  .logo-row {
    width: 75%;
  }
  .gallery {
    display: block;
    width: 70%;
  }
  .galley img {
    display: block;
    width: 70%;
  }
  .navbar {
    height: 23vh;
  }
  .icon {
    height: 2.5vh;
  }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
  .wrapper {
    width: 65%;
  }
  .logo-row {
    width: 50%;
  }
  .gallery {
    display: block;
    width: 50%;
  }
  .galley img {
    display: block;
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */